
<footer class = "container-fluid footer border-top mt-3 pt-3">
     <div class="footer-word">
        <p>WanderLust private Limited&copy;</p>
        <p class = "name">Made with &#10084; by Md Atiful haque</p>
        <p class="gmail">Gmail : mdatifulhaque26@gmail.com</p>
        <ul>
            <li>Privacy</li>
            <li>Terms</li>
        </ul>
     </div>
 
     <div class="social-media-links">
        <ul>
            <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
        </ul>
     </div>


</footer>