<%- layout("layouts/boilerplate") %>
<div class="container-fluid alert-error">
    <div class="alert alert-danger col-md-8 col" role="alert">
        <%= status %> <br>
        <%= message %>
      </div>
</div>

